@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #5051f9;
    --secondary: #6a6afb;
    --bg: #f3f6fd;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #000;
}

.app {
    display: flex;
}

.panel {
    background-color: #fff;
    min-height: 100vh;
    padding: 30px;
}

.logo {
    margin-bottom: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__item {
    border-radius: 14px;
    background: #fff;
    box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
    border: none;
    padding: 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menu__item:hover {
    background-color: var(--secondary);
}

.menu__item:hover img {
    filter: brightness(0) invert(1);
}

.menu__item_active {
    background-color: var(--primary);
}

.menu__item_active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    border-radius: 14px;
    border: 1px solid #cad5ff;
    width: 45px;
    height: 45px;
    background: none;
    cursor: pointer;
}

.menu__add:hover {
    background-color: #eff2ff;
}

.content {
    min-width: 900px;
    padding: 45px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: 30px;
}

h1 {
    color: #000;
    font-size: 30px;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
}

.progress__name {
    color: #232360;
    font-size: 14px;
}

.progress__percent {
    color: #768396;
    font-size: 12px;
}

.progress__bar {
    width: 100%;
    background-color: #e6e9ed;
    border-radius: 4px;
    height: 5px;
    position: relative;
}

.progress__cover-bar {
    position: absolute;
    transition: width 0.3s ease;
    background-color: var(--primary);
    border-radius: 4px;
    height: 5px;
}

.habbit {
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.habbit__day {
    background-color: #fbfaff;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #e7ebfb;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 40px;
    min-width: 150px;
}

.habbit__comment {
    color: #23235f;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 25px;
}

.habbit__delete {
    margin: 0 13px 0 auto;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
}

.habbit__delete:hover {
    background-color: #eff2ff;
}

.habbit__form {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 0 13px 0 25px;
    position: relative;
}

.input__icon {
    position: absolute;
    top: 10px;
    left: 45px;
}

.input_icon {
    padding-left: 45px;
    width: 100%;
}

input {
    border-radius: 9px;
    border: 1px solid #e7ebfb;
    background: #fff;
    padding: 12px 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}

input::placeholder {
    color: #8899a8;
}

button.done {
    border-radius: 9px;
    background: #edecfe;
    color: var(--primary);
    font-size: 13px;
    font-weight: 500;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
}

button.done:hover {
    background-color: #dcdaff;
}
